
{{> head}}
    {{> navbar}}
              <div class="row">
                  <div class="col-7">
                        <h1 class="text-left     display-1">Bienvenidos al About</h1>
                  </div>
                  <div class="col-4 mr-1">
                      <img src="/assets/img/python.jpg" alt="" class="img-thumbnail">
                  </div>
              </div>          
    {{> footer}}
